<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmiles.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/xmiles_logo_rev06"
        android:label="@string/app_name"                
        android:theme="@style/Theme.Example" >        
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:label="@string/app_name"
			
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.Welcome">            
            <!--
            android:name="com.xmiles.android.Fb_Sso_Login_Fragment">
            android:name="com.xmiles.android.SplashActivity"-->
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!--meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />  -->  
        </activity>
        
                <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.MainActivity">            
                           
        </activity>
        
        
        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.fragment.Profile_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"  
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />-->
        </activity>

        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.fragment.Favorites_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />  -->
        </activity>
        
        
        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.fragment.Feed_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />  -->
        </activity>        

        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.fragment.Ranking_Fragment">            

        </activity>        
        
        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.fragment.EmConstrucao_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"  
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" /> -->
        </activity>

        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.NewRoutes">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"  
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" /> -->
                       
        </activity>
        
        <activity
            android:label="@string/app_name"

            android:screenOrientation="portrait"
            android:name="com.xmiles.android.fragment.Cities_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"             
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" /> -->
        </activity>
                
        <activity
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.Gmaps">
        </activity>
            
        <activity
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.Users">
                        
        </activity>
        
        
        <activity
            android:label="@string/app_name"

            android:screenOrientation="portrait"
            android:name="com.xmiles.android.fragment.Users_Fragment">            
        </activity>

	        <meta-data android:name="com.google.android.gms.version" 
		   		android:value="@integer/google_play_services_version" />
	        
	        
	        <!-- Goolge API Key -->
	        <meta-data
	            android:name="com.google.android.maps.v2.API_KEY"
	            android:value="AIzaSyC_NmQtxLO83Sqqel-VpTaE2RAW_R8VZcA" />
        
        
        
        <receiver android:name="com.xmiles.android.scheduler.FbPlaces_Download"></receiver>
        <receiver android:name="com.xmiles.android.scheduler.Favorites_Upload"></receiver>
        <receiver android:name="com.xmiles.android.scheduler.UserRoutes_Download"></receiver>
        <receiver android:name="com.xmiles.android.scheduler.Getting_UserLocation"></receiver>
        <receiver android:name="com.xmiles.android.scheduler.UserLocation_Upload"></receiver>
        <receiver android:name="com.xmiles.android.scheduler.Getting_GpsBusData"></receiver> 
        <receiver android:name="com.xmiles.android.scheduler.GpsBusData_Upload"></receiver>       
        
        <receiver android:name="com.xmiles.android.scheduler.BootReceiver"
                android:enabled="true">
            <intent-filter>
        	    <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        
        <!--service android:name="com.xmiles.android.scheduler.ScoreAlgorithm"
        		android:enabled="true">
        </service>   -->    
        
        <provider android:name="com.xmiles.android.sqlite.contentprovider.SqliteProvider"
            android:authorities="com.xmiles.android.provider"
            android:exported="false"            
        />
    </application>
    
    	<!-- Connect to Internet Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> ACCESS_COARSE_LOCATION includes permission only for NETWORK_PROVIDER-->    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    
    <permission
        android:name="com.xmiles.android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.xmiles.android.permission.MAPS_RECEIVE" />

</manifest>