<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmiles.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/xmiles_logo_rev06"
        android:label="@string/app_name"                
        android:theme="@style/Theme.Example" >        
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:label="@string/app_name"
			
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.Fb_Sso_Login_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.SplashActivity" 
            android:name="com.xmiles.android.BtnFbLogin_Fragment" -->
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!--meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />  -->  
        </activity>
        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.Profile_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"  
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />-->
        </activity>

        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.Favorites_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />  -->
        </activity>
        
        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.EmConstrucao_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"  
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" /> -->
        </activity>

        <activity
            android:label="@string/app_name"
            
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.NewRoutes_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"  
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" /> -->
                       
        </activity>
        
        <activity
            android:label="@string/app_name"

            android:screenOrientation="portrait"
            android:name="com.xmiles.android.Cities_Fragment">            
            <!--
            android:uiOptions="splitActionBarWhenNarrow"             
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" /> -->
        </activity>
                
        <activity
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:name="com.xmiles.android.Gmaps_Fragment">
            
     
                        
        </activity>

	        <meta-data android:name="com.google.android.gms.version" 
		   		android:value="@integer/google_play_services_version" />
	        
	        
	        <!-- Goolge API Key -->
	        <meta-data
	            android:name="com.google.android.maps.v2.API_KEY"
	            android:value="AIzaSyC_NmQtxLO83Sqqel-VpTaE2RAW_R8VZcA" />
        
        
        
        <receiver android:name="com.xmiles.android.scheduler.FbPlaces_AlarmReceiver"></receiver>
        <receiver android:name="com.xmiles.android.scheduler.Favorites_AlarmReceiver"></receiver>
        <receiver android:name="com.xmiles.android.scheduler.Favorites_Update"></receiver>
        <!--service android:enabled="true" android:name="com.xmiles.android.scheduler.ServiceLocation" />
        <service android:enabled="true" android:name="com.xmiles.android.scheduler.ServiceLocation" />  --> 
        
        <provider android:name="com.xmiles.android.sqlite.contentprovider.SqliteProvider"
            android:authorities="com.xmiles.android.provider"
            android:exported="false"            
        />
    </application>
    
    	<!-- Connect to Internet Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    
    <permission
        android:name="com.xmiles.android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.xmiles.android.permission.MAPS_RECEIVE" />
    
    
    <!--permission
        android:name="com.wradar.android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <uses-permission android:name="com.wradar.android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    
           <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZoZ7CoN3qCXLspgY7EtqMrj7M-t_oKvw" />    -->

</manifest>